@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Noto Sans KR', sans-serif;
    @apply bg-gray-50 text-gray-900;
  }
  section {
    scroll-margin-top: 5rem;
  }
}

.gradient-osb {
  background: linear-gradient(135deg, #00427A 0%, #008B72 100%);
}
